alias l='exa -lah'
alias ls='exa'


alias rm=trash

# Remappings
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'


alias pip='pip3'
alias py='python3'


alias gst='tig status' # use tig instead
alias gl='git pull'
alias gp='git push'
alias gd='git diff | mate'
alias gau='git add --update'
alias gc='git commit -v'
alias gca='git commit -v -a'
alias gb='git branch'
alias gba='git branch -a'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcot='git checkout -t'
alias gcotb='git checkout --track -b'
alias glog='tig log' # use tig instead
alias glogp='git log --pretty=format:"%h %s" --graph'

alias vimc='~/.vimrc'
alias vimcu='-c :PlugInstall'


# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Edit
alias ec='nvim $'
alias evimrc='nvim $HOME/.vimrc'
alias evimu='nvim -c :PlugInstall'

alias ezshenv='nvim $HOME/.zshenv'
alias ezshrc='nvim $XDG_CONFIG_HOME/zsh/.zshrc'

alias eshell='nvim $XDG_CONFIG_HOME/shell'
